html, body {
  height: 100%;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

h1 {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  line-height: 120%;
  font-family: Arial, sans-serif;
  color: rgb(66,66,66);
  letter-spacing: -0.05em;
}

#messages div{
    font-family: monospace;
}

#messages span.time{
  min-width: 10em;
  font-weight: bold;
  padding: 0.5em;
}

.canvas-wrap {
 margin: 5px 0 2px 5px;
}